<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title | escape }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p>{{- site.description | escape -}}</p>
            </div>

            <div class="footer-col footer-col-2">
            </div>

            <div class="footer-col footer-col-3">
                <ul class="social-media-list">
                    <a href="{{ site.github_url }}" target="_blank">
                        <span>GitHub</span>
                    </a> |
                    <a href="{{ site.gitlab_url }}" target="_blank">
                        <span>GitLab</span>
                    </a> |
                    <a href="{{ site.linkedin_url }}" target="_blank">
                        <span>LinkedIn</span>
                    </a>
                </ul>
            </div>
        </div>

    </div>

    <script>
        // Crap snippet to fix dataframe display.
        Array.prototype.slice.call(
            document.querySelectorAll('.dataframe')
        ).map(function(el) {
            console.log(el.parentNode.setAttribute(
                'style',
                'max-height: 500px; overflow: auto; margin-bottom: 30px'
            ))
        });
    </script>

</footer>
