{% assign items_max = 0 %}
{% for item in include.taxonomies %}
  {% if item[1].size > items_max %}
    {% assign items_max = item[1].size %}
  {% endif %}
{% endfor %}

{% assign hash_keys = "" | split: "" %}
{% for pair in include.taxonomies %}
  {% assign new_item = pair[0] %}
  {% assign hash_keys = hash_keys | push: new_item %}
{% endfor %}
{% assign sorted_keys = hash_keys | sort %}

<ul class="taxonomy__index">
  {% for tax_key in sorted_keys %}
    {% assign tax_item = include.taxonomies %}
    {% assign tax_posts = tax_item[tax_key] %}
    <li>
      <a href="#{{ tax_key | slugify }}">
        <strong>{{ tax_key }}</strong> <span class="taxonomy__count">{{ tax_posts | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for tax_key in sorted_keys %}
{% assign tax_item = include.taxonomies %}
{% assign tax_posts = tax_item[tax_key] %}
<section id="{{ tax_key | slugify }}" class="taxonomy__section">
  <h2 class="archive__subtitle">{{ tax_key }}</h2>
  <div class="entries-{{ entries_layout }}">
    {% for post in tax_posts %}
    {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
{% endfor %}
