---
layout: archive
---

{{ content }}

{% assign projects = site.categories.Projects %}

<section id="{{ year.name }}" class="taxonomy__section">

    <h2 class="site__subtitle">About me</h2>
    <p>
        Seasoned web developer with a love for clean interfaces, smart workflows, and fast websites. I specialize in WordPress and React, blending technical craft with an eye for design. Open to hybrid roles and collaborative processes, I thrive in remote, mature teams that value clarity and craftsmanship.
    </p>

    <h2 class="site__subtitle">Some projects I contributed to</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for post in projects %}
        {% include project-single.html type=page.entries_layout %}
        {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
