---
layout: archive
---

{{ content }}

{% assign projects = site.categories.Projects %}

<section id="{{ year.name }}" class="taxonomy__section">

    <h2 class="site__subtitle">About me</h2>
    <ul>
        <li>
            Web developer with 10+ years’ experience building clean, high-performance websites and interfaces.
        </li>
        <li>
            Skilled in WordPress, React, and static site workflows.
        </li>
        <li>
            Equally comfortable shipping solo or collaborating closely with designers to turn vision into production-ready code.
        </li>
        <li>
            I thrive in mature remote teams that value clarity, minimalism, and thoughtful process.
        </li>
    </ul>

    <h2 class="site__subtitle">Some projects I contributed to</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for post in projects %}
        {% include project-single.html type=page.entries_layout %}
        {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
